.timeLineContentWrapper {
    display: flex;
    width: 60%;
    height: 80%;
    padding: 20px;
    border-radius: 10px;
    color: #000000;
    border-left: 4px solid #00050F;
    padding: 20px;
    background: #56BBFF;
    font-size: 20px;
}